<section class="abouth">
   <div class="container">
      <h2 class="subtitle">Обо мне</h2>
      <div class="abouth__wrapper">
         <div class="abouth__title">Успешное продвижение интернет-магазинов</div>
      <hr>
      <ul class="abouth__list">
         <li class="abouth__item">Интернет-магазин элитной обуви (средний чек 13 000 руб). За 2 года увеличил с 3 000 до 150 000 уникальных посетителей в месяц с Seo.</li>
         <li class="abouth__item">Интернет-магазин домашней итальянской одежды (средний чек 8 000 руб). За 3 года вывел более 30 тысяч словосочетаний (все возможные поисковые запросы, в том числе самые дорогие) в первые 5 сайтов (топ-5) в Яндексе и Google. Сделал лидером сегмента.</li>
         <li class="abouth__item">Интернет-магазин декоративной премиум косметики (средний чек 15 000 руб). За год достиг числа заказов в среднем 3-5 шт. в день.</li>
         <div class="abouth__img">
            <a
               data-fancybox="gallery-2"
               href="img/seo_1.jpeg"
               >
              <img src="img/seo_1.jpeg" width="200" height="150" alt="" />
            </a>
            <a data-fancybox="gallery-2" href="img/seo_2.png">
              <img src="img/seo_2.png" width="200" height="150" alt="" />
            </a>
            <a data-fancybox="gallery-2" href="img/seo_3.jpeg">
               <img src="img/seo_3.jpeg" width="200" height="150" alt="" />
             </a>
             <a data-fancybox="gallery-2" href="img/seo_4.jpeg">
               <img src="img/seo_4.jpeg" width="200" height="150" alt="" />
             </a>
             <a data-fancybox="gallery-2" href="img/seo_5.png">
               <img src="img/seo_5.png" width="200" height="150" alt="" />
             </a>
             <a data-fancybox="gallery-2" href="img/seo_6.png">
               <img src="img/seo_6.png" width="200" height="150" alt="" />
             </a>
             <a data-fancybox="gallery-2" href="img/seo_7.png">
               <img src="img/seo_7.png" width="200" height="150" alt="" />
             </a>
             <a data-fancybox="gallery-2" href="img/seo_8.jpeg">
               <img src="img/seo_8.jpeg" width="200" height="150" alt="" />
             </a>
          </div>
      </ul>
      </div>
      <div class="abouth__wrapper">
         <div class="abouth__title">Успешное развитие брендов</div>
      <hr>
      <ul class="abouth__list">
         <li class="abouth__item">ФСК Лидер - продвижение более 10 сайтов ЖКи головного сайта. Плодотворное сотрудничество более 2х лет.</li>
         <li class="abouth__item">Меховая фабрика Каляев - за 3 года работы так развил интернет-магазин, что премиальные выросли с 0,1 до 1,2 млн руб в месяц (достиг 330 тысяч уникальных посетителей в месяц в среднем в сезон).</li>
      </ul>
      </div>
      <div class="abouth__wrapper">
         <div class="abouth__title">Проработка стратегии и захват рыночных сегментов</div>
      <hr>
      <ul class="abouth__list">
         <li class="abouth__item">Областной портал по недвижимости был более 3х лет в пятерке лучших порталов Кировской области (с разовыми затратами в создание и наполнение).</li>
         <li class="abouth__item">Портал праздничной тематики под моим руководством достигал посещаемости выше 1,5 миллионов посетителей в месяц.</li>
      </ul>
      </div>
      <div class="abouth__wrapper">
         <div class="abouth__title">Работа с зарубежными рынками</div>
      <hr>
      <ul class="abouth__list">
         <li class="abouth__item">Создание сети фармакологических сайтов продажи Herbal Products (магазины, свои блоги и форумы, лендинги, псевдо официалы и пр.).</li>
      </ul>
      </div>
      <div class="abouth__wrapper">
         <div class="abouth__title">Организация работы с большим числом сайтов</div>
      <hr>
      <ul class="abouth__list">
         <li class="abouth__item">В начале карьерного пути - ведение в одиночку более 50 сайтов в рекламном агентстве (+ постоянные заявки на расчет - от более 70 штатных продавцов).</li>
         <li class="abouth__item">Как результат - разработка и постоянное улучшение своего программного инструментария для максимально эффективной работы.</li>
      </ul>
      </div>
      <div class="abouth__wrapper">
         <div class="abouth__title">Работа с командой</div>
      <hr>
      <ul class="abouth__list">
         <li class="abouth__item">Опыт выстраивания работы команды из 12 сотрудников на полный рабочий день + подбор и управление подрядчиками и внештатными удаленными специалистам (28 человек в подчинении).</li>
         <div class="abouth__img">
            <a
               data-fancybox
               href="img/command.png"
               data-caption="Команда"
               >
              <img src="img/command.png" width="200" class="stop" height="150" alt="" />
            </a>
          </div>
      </ul>
      </div>
      <div class="abouth__wrapper">
         <div class="abouth__title">Преподавание</div>
      <hr>
      <ul class="abouth__list">
         <li class="abouth__item">Публикация в соцсетях используемых мной Seoхаков для взрывного роста трафика на сайтах.</li>
         <li class="abouth__item">Чтение курса по Seo в учебном центре "Специалист"при МГТУ им. Баумана.</li>
         <div class="abouth__img">
            <a
               data-fancybox="gallery"
               href="img/synergy.jpg"
               data-caption="Банер лекции"
               >
              <img src="img/synergy.jpg" width="200" height="150" alt="" />
            </a>
            <a data-fancybox="gallery" href="img/lection.jpg">
              <img src="img/lection.jpg" width="200" height="150" alt="" />
            </a>
          </div>
      </ul>
      </div>
   </div>
</section>