<section class="activity">
   <div class="container">
      <h2 class="subtitle">Текущая активность</h2>
      <div class="activity__wrapper">
         <div class="activity__item">
            <div class="activity__item_title">Управленческие лекции<br><br></div>
            <div class="activity__item_text">по четвергам - с выкладкой видео записей</div>
            <div class="activity__item_btn"><a href="https://www.youtube.com/@myatov" target="_blank" class="activity__item_btn_link">Смотреть</a></div>
         </div>
         <div class="activity__item">
            <div class="activity__item_title">Помощь талантливым детям<br><br></div>
            <div class="activity__item_text">оказавшимся в затруднительной ситуации</div>
            <div class="activity__item_btn"><a href="#form" class="activity__item_btn_link">Связаться</a></div>
         </div>
         <div class="activity__item" id="triggger" data-fancybox data-src="#dialog-content" style="cursor: pointer;">
            <div class="activity__item_title">Наставничество предпринимателей<br><br></div>
            <div class="activity__item_text">по понедельникам</div>
            <div class="activity__item_btn"><a href="#form" id="stop" class="activity__item_btn_link">Связаться</a></div>
         </div>
      </div>
   </div>
</section>