<section class="help">
   <div class="container">
      <h2 class="subtitle">Чем могу помочь</h2>
      <h2 class="subtitle help__subtitle">seo специалистам</h2>
      <hr>
      <div class="help__list">
         <div class="help__list__number">01</div>
         <div class="help__list__title">Помогу сделать выгрузки</div>
         <div class="help__list__text">практически всегда под рукой доступы к Keys so, Ahrefs/ Semrush, Spywords.</div>
      </div>
      <hr>
      <div class="help__list">
         <div class="help__list__number">02</div>
         <div class="help__list__title">Честное и непредвзятое мнение</div>
         <div class="help__list__text">если у вас ключевые запросы зависли у топа, - 
            и никак не двигаются, проанализирую сайт и дам понимание о вариантах их вбить в топ-3.</div>
      </div>
      <hr>
      <div class="help__list">
         <div class="help__list__number">03</div>
         <div class="help__list__title">Помогу разобраться <br> с вариантами <br> seo стратегией</div>
         <div class="help__list__text">для вывода масштабных продуктов/проектов 
            на любой рынок.</div>
      </div>
      <hr>
      <h2 class="subtitle">Чем могу помочь</h2>
      <h2 class="subtitle help__subtitle">подросткам</h2>
      <hr>
      <div class="help__list">
         <div class="help__list__number">04</div>
         <div class="help__list__title">Помогу подросткам <br>и молодым людям <br>в сложной ситуации</div>
         <div class="help__list__text">Рассмотрю возможность любой посильной помощи (обещать здесь сложно и неадекватно)</div>
      </div>
      <hr>
      <h2 class="subtitle">Чем могу помочь</h2>
      <h2 class="subtitle help__subtitle">бизнесу</h2>
      <hr>
      <div class="help__list">
         <div class="help__list__number">05</div>
         <div class="help__list__title">Помогу бизнесу <br>с яркими отстройками <br>от конкурентов</div>
         <div class="help__list__text">- консультация по масштабированию в Яндексе , Google <br>
            - лидген (преимущественно seo трафик), <br>
            - работа за % от продаж.</div>
      </div>
      <hr>
   </div>
</section>