<section class="hero">
   <div class="container">
      <h1 class="hero__title">Эксперт по успешному продвижению интернет-магазинов, коммерческих сайтов и порталов</h1>
      <a href="#form" class="hero__btn">Сотрудничать</a>
      <div class="hero__firstname">МИХАИЛ</div>
      <div class="hero__subname">МЯТОВ</div>
      <div class="hero__area-text">Вывожу бизнес в лидеры рынка</div>
   </div>
   <picture class="hero__img">
      <source srcset="../img/main.avif" type="image/avif">
      <source srcset="../img/main.webp" type="image/webp">
      <img loading="lazy" src="../img/main.png" class="image" width="" height="" alt="Михаил Мятов">
    </picture>
    <picture class="hero__img hero__img_min">
      <source srcset="../img/main-mini.avif" type="image/avif">
      <source srcset="../img/main-mini.webp" type="image/webp">
      <img loading="lazy" src="../img/main-mini.png" class="image" width="" height="" alt="">
    </picture>
    <div class="hero__area">
      <div class="hero__area-white"></div>
      <div class="hero__area-white-grey"></div>
      <div class="hero__area-grey"></div>
   </div>
   <div class="hero__area__mini-text">Вывожу бизнес в лидеры рынка</div>
</section>